.container{
    background-color: #395B64;
    color: #E7F6F2;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px auto;
    width: 60%;
}

.tasksContainer{
    width: 80%;
}

.buttonsContainer{
    margin-right: 10px;
}

.button{
    margin: 5px;
    font-family: "changa";
    width: 60px;
}

.button:hover{
    box-shadow: 1px 1px cornsilk;
    background-color: #2C3333;
    color:cornsilk
}

@media screen and (max-width: 767px) {
    .container{
        width: 95%;
    }
    .tasksContainer{
        width: 100%;
    }
    .buttonsContainer{
        margin-right: 2px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:right;
    }
    
  }
  
